@import 'daks-svelte/fonts/open-sans/variable';
@import 'daks-svelte/tailwindcss';

@layer base {
  :root {
    --navbar-height: 47px;
  }

  body {
    @apply relative
           text-slate-800 dark:text-slate-300
           bg-neutral-50 dark:bg-slate-800;
  }

  h1 {
    @apply font-bold tracking-wide
           text-3xl sm:text-4xl md:text-4.5xl lg:text-5xl
           text-gray-500 dark:text-gray-300;
  }

  h2 {
    @apply text-3xl sm:text-3.5xl md:text-4xl lg:text-4.5xl
           text-slate-800 dark:text-slate-500;
  }

  h3 {
    @apply text-2xl sm:text-2.5xl md:text-3.5xl lg:text-4xl;
  }

  h4 {
    @apply text-xl;
  }

  h2,
  h3,
  h4 {
    @apply font-semibold;
  }
}

@layer utilities {
  .title {
    @apply after:content-null after:block after:mt-4
           after:w-[25vw] sm:after:w-[20vw] lg:after:w-[15vw] 2xl:after:w-[10vw] after:h-[5px]
           after:bg-blue-800;
  }

  body.overflow-hidden,
  body.overflow-hidden .overflow-offset {
    padding-right: var(--scrollbar-size) !important;
  }

  .min-h-screen--navbar {
    min-height: calc(100vh - var(--navbar-height));
  }
  .max-h-screen--navbar {
    max-height: calc(100vh - var(--navbar-height));
  }
}

main,
[role='main'] {
  @apply flex flex-col;
  padding-top: var(--navbar-height);
}
main > header,
[role='main'] > header {
  @apply pt-4 sm:pt-5 md:pt-8 xl:pt-12
         mb-12 md:mb-14 xl:mb-16;
}
